/* --- start of CSS reset --- */
/* --
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  
  a {
    text-decoration: none;
  }
  
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }
  
  /* --- end of CSS reset --- */

.v-picture {

  width: 30%;
  float: left;
  height: max-content;
  padding: 20px;
}

.v-image {
  max-width: 100%;
  max-height: 100%;
}

.v-content {
  width: 70%;
  padding: 20px;
}

.v-title {
  font-size: x-large;
}

.v-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  height: max-content;
  font-family: Rubik;
  background-color: #ECF0F1;
  box-shadow: 10px 10px 8px gray;
  
}

.v-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: medium;
}

.v-text-left {
  width: 50%;
}

.v-text-right {
  width: 50%;
}

.v-question {
  font-weight: 600;
  margin-top: 10px;
}

.v-answer {
  font-style: italic;
}
